header {
  height: 11.9rem;
  background-image: linear-gradient(0, #ff6333, #f53e2d);
}

.header__nav {
  display: flex;
  justify-content: space-between;

  font-size: 1.3rem;
}

.header__nav-list {
  padding-top: 1rem;
  display: flex;
}

.header__nav-item {
  display: inline-flex;
  align-items: center;
  padding: 0 0.6rem;
  color: var(--while-color);
  position: relative;
}
.header__nav-item--qr::before {
  content: "";
  height: 1.3rem;
  border: 0.1rem solid hsla(0, 0%, 100%, 0.22);
  position: absolute;
  left: 0;
}

.header__nav-item--qr::after {
  content: "";
  height: 1.3rem;
  border: 0.1rem solid hsla(0, 0%, 100%, 0.22);
  position: absolute;
  right: 0;
}

.header__nav-item--qr:hover .header__nav-qr {
  display: flex;
}

.header__nav-item-right {
  padding: 0 1rem;
}

.header__nav-item-right--notify {
  position: relative;
}

.header__nav-item-right--notify:hover .header__notify {
  display: flex;
}

.header__nav-item-right--notify:hover .header__notify-arrow {
  display: block;
}

.header__nav-item-link {
  color: var(--while-color);
  text-decoration: none;
  cursor: pointer;
}

.header__nav-item-link:hover {
  color: #ccc;
}

.header__nav-icon {
  font-size: 1.6rem;
  padding: 0.5rem;
}

.header__nav-qr {
  width: 18.6rem;
  position: absolute;
  top: 150%;
  background-color: var(--while-color);
  border-radius: 2px;
  display: none;
  flex-direction: column;
  animation: fadeIn ease-in 0.5s;
}

.header__nav-qr::before {
  content: "";
  position: absolute;
  top: -4%;
  width: 100%;
  height: 1.6rem;
  display: flex;
}

.header__nav-app {
  margin: 0 1.4rem 1.4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__nav-app-img {
  margin-top: 1rem;
  height: 1.6rem;
}

.header__nav-app-img--smaller {
  height: 1.4rem;
}

.header__notify-arrow {
  position: absolute;
  right: 4rem;
  top: -1.5rem;
  display: none;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  z-index: 3;
}

.header__notify {
  background-color: #fff;
  width: 40.4rem;
  position: absolute;
  top: 3rem;
  right: 0;
  display: none;
  flex-direction: column;
  padding: 0 0.6rem;
  border-radius: 2px;
  border-top: 0px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0.0625rem 3.125rem 0px;
  z-index: 3;
  animation: headerNotifyGrowing ease-in 0.15s;
}

@keyframes headerNotifyGrowing {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.header__notify::before {
  content: "";
  width: 40.4rem;
  height: 2.3rem;
  position: absolute;
  top: -2rem;
  right: 0;
  display: flex;
  padding: 0 0.6rem;
  z-index: 3;
}

.header__notify-title {
  padding: 1.3rem 0;
  opacity: 0.25;
  font-size: 1.4rem;
}

.header__notify-link {
  display: flex;
  text-decoration: none;
}

.header__notify-link {
  display: flex;
  padding: 0.6rem 0;
  color: var(--grey-color);
  line-height: 1.4;
}

.header__notify-user:hover,
.header__notify-news:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.header__notify-user {
  padding: 0.6rem 0 1.8rem;
}

.header__notify-user .header__notify-link p:first-child {
  color: var(--text-color);
}

.header__notify-img img {
  height: 4rem;
}

.header__notify-news p {
  display: inline;
}

.header__notify-showAll {
  display: block;
  padding: 1.3rem 0;
  text-align: center;
  justify-self: center;
  text-decoration: none;
  color: inherit;
}

.header__notify-showAll:hover {
  background-color: #f8f8f8;
}

.header__nav-item-right--user {
  position: relative;
}

.header__nav-item-right--user:hover .header__user-list {
  display: block;
}

.header__nav-item-right--user:hover .header__user-arrow {
  display: block;
}

.header__user-arrow {
  position: absolute;
  right: 2rem;
  top: -1.2rem;
  display: none;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  z-index: 3;
}

.header__user-list {
  width: 15rem;
  position: absolute;
  top: 135%;
  right: 0;
  background-color: white;
  border-radius: 2px;
  border-top: 0px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0.0625rem 3.125rem 0px;
  display: none;
  z-index: 3;
  animation: headerNotifyGrowing ease-in 0.15s;
}

.header__user-list::before {
  content: "";
  width: 15rem;
  height: 2rem;
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: 3;
}

.header__user-item {
  display: block;
  line-height: 3.5rem;
  padding-left: 1.3rem;
  text-decoration: none;
  color: inherit;
}

.header__user-item:hover {
  color: #00bfa5;
  background-color: #ddd;
}
